.main {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px 10px;
    grid-column: 1/6;
    grid-row: 1/4;
}

.child {
    border: 1px solid #000;
    background-color: #ba8181;
    padding: 5px;
    text-align: center;
}

.SubGrid1 {
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-row: 1/4;
    grid-column: 1/6; */
    /* gap: 5px 5px; */
    /* border: 1px solid #000000; */
}

.SubGrid1 #child1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.SubGrid1 #child2 {
    grid-column: 2/4;
    grid-row: 1/2;
}

.SubGrid1 #child3 {
    grid-column: 1/3;
    grid-row: 2/3;
}

.SubGrid1 #child4 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.SubGrid1 #child5 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.SubGrid1 #child6 {
    grid-column: 2/4;
    grid-row: 3/4;
}

/* Sub Grid 2 */
.SubGrid2 {
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-row: 1/4;
    grid-column: 3/6; */
}

.SubGrid2 #child1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.SubGrid2 #child2 {
    grid-column: 2/3;
    grid-row: 1/3;
}

.SubGrid2 #child3 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.SubGrid2 #child4 {
    grid-column: 1/2;
    grid-row: 2/4;
}

.SubGrid2 #child5 {
    grid-column: 2/3;
    grid-row: 3/4;
}

.SubGrid2 #child6 {
    grid-column: 3/4;
    grid-row: 2/4;
}

/* Sub Grid 3 */

.SubGrid3 {
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-row: 1/4;
    grid-column: 6/9; */
}

.SubGrid3 #child1 {
    grid-column: 1/3;
    grid-row: 1/3;
}

.SubGrid3 #child2 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.SubGrid3 #child3 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.SubGrid3 #child4 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.SubGrid3 #child5 {
    grid-column: 2/3;
    grid-row: 3/4;
}

.SubGrid3 #child6 {
    grid-column: 3/4;
    grid-row: 3/4;
}

/* Sub Grid 4 */
.SubGrid4 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    /* grid-row: 1/4;
    grid-column: 9/15; */
}

.SubGrid4 #child1 {
    grid-column: 1/3;
    grid-row: 1/2;
}

.SubGrid4 #child2 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.SubGrid4 #child3 {
    grid-column: 4/6;
    grid-row: 1/2;
}

.SubGrid4 #child4 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.SubGrid4 #child5 {
    grid-column: 2/5;
    grid-row: 2/4;
}

.SubGrid4 #child6 {
    grid-column: 5/6;
    grid-row: 2/3;
}

.SubGrid4 #child7 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.SubGrid4 #child8 {
    grid-column: 5/6;
    grid-row: 3/4;
}

.SubGrid4 #child9 {
    grid-column: 1/3;
    grid-row: 4/5;
}

.SubGrid4 #child10 {
    grid-column: 3/4;
    grid-row: 4/5;
}

.SubGrid4 #child11 {
    grid-column: 4/6;
    grid-row: 4/5;
}

/* Sub Grid 5 */

.SubGrid5 {
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-row: 1/4;
    grid-column: 15/21; */
}

.SubGrid5 #child1 {
    grid-column: 1/3;
    grid-row: 1/3;
}

.SubGrid5 #child2 {
    grid-column: 3/7;
    grid-row: 1/3;
}

.SubGrid5 #child3 {
    grid-column: 1/3;
    grid-row: 3/5;
}

.SubGrid5 #child4 {
    grid-column: 3/4;
    grid-row: 3/4;
}

.SubGrid5 #child5 {
    grid-column: 4/5;
    grid-row: 3/4;
}

.SubGrid5 #child6 {
    grid-column: 3/4;
    grid-row: 4/5;
}

.SubGrid5 #child7 {
    grid-column: 4/5;
    grid-row: 4/5;
}

.SubGrid5 #child8 {
    grid-column: 5/7;
    grid-row: 3/5;
}

.SubGrid5 #child9 {
    grid-column: 1/5;
    grid-row: 5/6;
}

.SubGrid5 #child10 {
    grid-column: 5/7;
    grid-row: 5/6;
}

/* Sub Grid 6 */

.SubGrid6 {
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-row: 1/4;
    grid-column: 21/25; */
}

.SubGrid6 #child1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.SubGrid6 #child2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.SubGrid6 #child3 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.SubGrid6 #child4 {
    grid-column: 1/4;
    grid-row: 2/3;
}

.SubGrid6 #child5 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.SubGrid6 #child6 {
    grid-column: 2/3;
    grid-row: 3/4;
}

.SubGrid6 #child7 {
    grid-column: 3/4;
    grid-row: 3/4;
}

/* Sub Grid 7 */
.SubGrid7 {
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-row: 1/4;
    grid-column: 25/32; */
}

.SubGrid7 #child1 {
    grid-column: 1/7;
    grid-row: 1/3;
}

.SubGrid7 #child2 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.SubGrid7 #child3 {
    grid-column: 2/3;
    grid-row: 3/4;
}

.SubGrid7 #child4 {
    grid-column: 3/5;
    grid-row: 3/5;
}

.SubGrid7 #child5 {
    grid-column: 5/7;
    grid-row: 3/5;
}

.SubGrid7 #child6 {
    grid-column: 1/3;
    grid-row: 4/5;
}

/* Sub Grid 8 */

.SubGrid8 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: 1/4;
    grid-column: 32/35;
}

.SubGrid8 #child1 {
    grid-column: 1/4;
    grid-row: 1/3;
}

.SubGrid8 #child2 {
    grid-column: 4/5;
    grid-row: 1/2;
}

.SubGrid8 #child3 {
    grid-column: 4/5;
    grid-row: 2/3;
}

.SubGrid8 #child4 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.SubGrid8 #child5 {
    grid-column: 1/2;
    grid-row: 4/5;
}

.SubGrid8 #child6 {
    grid-column: 2/5;
    grid-row: 3/5;
}

/* Sub Grid 9 */
.SubGrid9 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: 1/4;
    grid-column: 35/39;
}

.SubGrid9 #child1 {
    grid-column: 1/4;
    grid-row: 1/3;
}

.SubGrid9 #child2 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.SubGrid9 #child3 {
    grid-column: 2/3;
    grid-row: 3/5;
}

.SubGrid9 #child4 {
    grid-column: 3/4;
    grid-row: 3/4;
}

.SubGrid9 #child5 {
    grid-column: 1/2;
    grid-row: 4/5;
}

.SubGrid9 #child6 {
    grid-column: 3/4;
    grid-row: 4/5;
}

/* Sub Grid 10 */

.SubGrid10 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: 1/4;
    grid-column: 39/44;
}

.SubGrid10 #child1 {
    grid-column: 1/3;
    grid-row: 1/4;
}

.SubGrid10 #child2 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.SubGrid10 #child3 {
    grid-column: 4/5;
    grid-row: 1/2;
}

.SubGrid10 #child4 {
    grid-column: 5/6;
    grid-row: 1/2;
}

.SubGrid10 #child5 {
    grid-column: 1/2;
    grid-row: 4/5;
}

.SubGrid10 #child6 {
    grid-column: 2/3;
    grid-row: 4/5;
}

.SubGrid10 #child7 {
    grid-column: 3/6;
    grid-row: 2/5;
}

.SubGrid10 #child8 {
    grid-column: 1/3;
    grid-row: 5/7;
}

.SubGrid10 #child9 {
    grid-column: 3/5;
    grid-row: 5/7;
}

.SubGrid10 #child10 {
    grid-column: 5/6;
    grid-row: 5/6;
}

.SubGrid10 #child11 {
    grid-column: 5/6;
    grid-row: 6/7;
}

/* Sub Grid 11 */

.SubGrid11 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: 1/7;
    grid-column: 44/50;
}

.SubGrid11 #child1 {
    grid-column: 1/4;
    grid-row: 1/3;
}

.SubGrid11 #child2 {
    grid-column: 4/5;
    grid-row: 1/2;
}

.SubGrid11 #child3 {
    grid-column: 4/5;
    grid-row: 2/3;
}

.SubGrid11 #child4 {
    grid-column: 5/7;
    grid-row: 1/3;
}

.SubGrid11 #child5 {
    grid-column: 1/3;
    grid-row: 3/5;
}

.SubGrid11 #child6 {
    grid-column: 3/4;
    grid-row: 3/4;
}

.SubGrid11 #child7 {
    grid-column: 3/4;
    grid-row: 4/5;
}

.SubGrid11 #child8 {
    grid-column: 4/7;
    grid-row: 3/5;
}

.SubGrid11 #child9 {
    grid-column: 1/4;
    grid-row: 5/7;
}

.SubGrid11 #child10 {
    grid-column: 4/5;
    grid-row: 5/6;
}

.SubGrid11 #child11 {
    grid-column: 4/5;
    grid-row: 6/7;
}

.SubGrid11 #child12 {
    grid-column: 5/7;
    grid-row: 5/7;
}

/* Sub Grid 12 */

.SubGrid12 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: 1/4;
    grid-column: 50/53;
}
.SubGrid12 #child1 {
    grid-column: 1/2;
    grid-row: 1/2;
}
.SubGrid12 #child2 {
    grid-column: 2/3;
    grid-row: 1/2;
}
.SubGrid12 #child3 {
    grid-column: 3/4;
    grid-row: 1/2;
}
.SubGrid12 #child4 {
    grid-column: 1/4;
    grid-row: 2/6;
}
.SubGrid12 #child5 {
    grid-column: 1/2;
    grid-row: 6/7;
}
.SubGrid12 #child6 {
    grid-column: 2/3;
    grid-row: 6/7;
}
.SubGrid12 #child7 {
    grid-column: 3/4;
    grid-row: 6/7;
}

/* Sub Grid 13 */

.SubGrid13 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: 1/4;
    grid-column: 55/61;
}

.SubGrid13 #child1 {
    grid-column: 1/6;
    grid-row: 1/5;
}
.SubGrid13 #child2 {
    grid-column: 1/2;
    grid-row: 5/6;
}
.SubGrid13 #child3 {
    grid-column: 2/3;
    grid-row: 5/6;
}
.SubGrid13 #child4 {
    grid-column: 3/4;
    grid-row: 5/6;
}
.SubGrid13 #child5 {
    grid-column: 4/5;
    grid-row: 5/6;
}
.SubGrid13 #child6 {
    grid-column: 5/6;
    grid-row: 5/6;
}

/* Sub Grid 14 */

.SubGrid14 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: 1/4;
    grid-column: 61/67;
}
.SubGrid14 #child1 {
    grid-column: 1/2;
    grid-row: 1/2;
}
.SubGrid14 #child2 {
    grid-column: 2/3;
    grid-row: 1/2;
}
.SubGrid14 #child3 {
    grid-column: 3/4;
    grid-row: 1/2;
}
.SubGrid14 #child4 {
    grid-column: 4/5;
    grid-row: 1/2;
}
.SubGrid14 #child5 {
    grid-column: 5/6;
    grid-row: 1/2;
}

/* Sub Grid 15 */

.SubGrid15 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: 1/4;
    grid-column: 67/73;
}

.SubGrid15 #child1 {
    grid-column: 1/6;
    grid-row: 1/2;
}
.SubGrid15 #child2 {
    grid-column: 1/6;
    grid-row: 2/3;
}
.SubGrid15 #child3 {
    grid-column: 1/6;
    grid-row: 3/4;
}
.SubGrid15 #child4 {
    grid-column: 1/6;
    grid-row: 4/5;
}
.SubGrid15 #child5 {
    grid-column: 1/6;
    grid-row: 5/6;
}

/* Sub Grid 16 */

.SubGrid16 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: 1/4;
    grid-column: 73/75;
}

.SubGrid16 #child1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.SubGrid16 #child2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.SubGrid16 #child3 {
    grid-column: 3/4;
    grid-row: 1/4;
}

.SubGrid16 #child4 {
    grid-column: 4/5;
    grid-row: 1/2;
}

.SubGrid16 #child5 {
    grid-column: 1/3;
    grid-row: 2/4;
}

.SubGrid16 #child6 {
    grid-column: 4/5;
    grid-row: 2/3;
}

.SubGrid16 #child7 {
    grid-column: 4/5;
    grid-row: 3/4;
}

.SubGrid16 #child8 {
    grid-column: 1/2;
    grid-row: 4/7;
}

.SubGrid16 #child9 {
    grid-column: 2/3;
    grid-row: 4/5;
}

.SubGrid16 #child10 {
    grid-column: 2/3;
    grid-row: 5/6;
}

.SubGrid16 #child11 {
    grid-column: 2/3;
    grid-row: 6/7;
}

.SubGrid16 #child12 {
    grid-column: 3/5;
    grid-row: 4/7;
}

/* Sub Grid 17 */

.SubGrid17 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: 1/4;
    grid-column: 75/80;
}

.SubGrid17 #child1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.SubGrid17 #child2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.SubGrid17 #child3 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.SubGrid17 #child4 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.SubGrid17 #child5 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.SubGrid17 #child6 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.SubGrid17 #child7 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.SubGrid17 #child8 {
    grid-column: 2/3;
    grid-row: 3/4;
}

.SubGrid17 #child9 {
    grid-column: 3/4;
    grid-row: 3/4;
}

.SubGrid17 #child10 {
    grid-column: 1/2;
    grid-row: 4/5;
}

/* Sub Grid 18 */

.SubGrid18 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: 1/4;
    grid-column: 80/85;
}

.SubGrid18 #child1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.SubGrid18 #child2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.SubGrid18 #child3 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.SubGrid18 #child4 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.SubGrid18 #child5 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.SubGrid18 #child6 {
    grid-column: 2/4;
    grid-row: 2/4;
}

.SubGrid18 #child7 {
    grid-column: 1/2;
    grid-row: 4/5;
}

.SubGrid18 #child8 {
    grid-column: 2/3;
    grid-row: 4/5;
}

.SubGrid18 #child9 {
    grid-column: 3/4;
    grid-row: 4/5;
}

/* Sub Grid 19 */

.SubGrid19 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: 1/4;
    grid-column: 85/90;
}

.SubGrid19 #child1 {
    grid-column: 1/5;
    grid-row: 1/3;
}

.SubGrid19 #child2 {
    grid-column: 1/5;
    grid-row: 3/5;
}

.SubGrid19 #child3 {
    grid-column: 1/2;
    grid-row: 5/7;
}

.SubGrid19 #child4 {
    grid-column: 2/3;
    grid-row: 5/6;
}

.SubGrid19 #child5 {
    grid-column: 2/3;
    grid-row: 6/7;
}

.SubGrid19 #child6 {
    grid-column: 3/4;
    grid-row: 5/7;
}

.SubGrid19 #child7 {
    grid-column: 4/5;
    grid-row: 5/6;
}

.SubGrid19 #child8 {
    grid-column: 4/5;
    grid-row: 6/7;
}

/* Sub Grid 20 */

.SubGrid20 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: 1/4;
    grid-column: 90/95;
}
.SubGrid20 #child1 {
    grid-column: 1/3;
    grid-row: 1/5;
}
.SubGrid20 #child2 {
    grid-column: 3/5;
    grid-row: 1/2;
}
.SubGrid20 #child3 {
    grid-column: 3/4;
    grid-row: 2/3;
}
.SubGrid20 #child4 {
    grid-column: 4/5;
    grid-row: 2/3;
}
.SubGrid20 #child5 {
    grid-column: 3/5;
    grid-row: 3/4;
}
.SubGrid20 #child6 {
    grid-column: 3/4;
    grid-row: 4/5;
}
.SubGrid20 #child7 {
    grid-column: 4/5;
    grid-row: 4/5;
}

/* Sub Grid 21 */

.SubGrid21 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: 1/4;
    grid-column: 95/100;
}

.SubGrid21 #child1 {
    grid-column: 1/2;
    grid-row: 1/3;
}

.SubGrid21 #child2 {
    grid-column: 2/3;
    grid-row: 1/4;
}

.SubGrid21 #child3 {
    grid-column: 3/4;
    grid-row: 1/3;
}

.SubGrid21 #child4 {
    grid-column: 1/2;
    grid-row: 3/5;
}

.SubGrid21 #child5 {
    grid-column: 3/4;
    grid-row: 3/5;
}

.SubGrid21 #child6 {
    grid-column: 1/2;
    grid-row: 5/7;
}

.SubGrid21 #child7 {
    grid-column: 2/3;
    grid-row: 4/7;
}

.SubGrid21 #child8 {
    grid-column: 3/4;
    grid-row: 5/7;
}

/* Sub Grid 22 */

.SubGrid22 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: 1/4;
    grid-column: 100/105;
}

.SubGrid22 #child1 {
    grid-column: 1/5;
    grid-row: 1/5;
}

.SubGrid22 #child2 {
    grid-column: 5/7;
    grid-row: 1/3;
}

.SubGrid22 #child3 {
    grid-column: 5/6;
    grid-row: 3/4;
}

.SubGrid22 #child4 {
    grid-column: 6/7;
    grid-row: 3/4;
}

.SubGrid22 #child5 {
    grid-column: 5/6;
    grid-row: 4/5;
}

.SubGrid22 #child6 {
    grid-column: 6/7;
    grid-row: 4/5;
}

.SubGrid22 #child7 {
    grid-column: 1/3;
    grid-row: 5/7;
}

.SubGrid22 #child8 {
    grid-column: 3/4;
    grid-row: 5/6;
}

.SubGrid22 #child9 {
    grid-column: 4/5;
    grid-row: 5/6;
}

.SubGrid22 #child10 {
    grid-column: 3/4;
    grid-row: 6/7;
}

.SubGrid22 #child11 {
    grid-column: 4/5;
    grid-row: 6/7;
}

.SubGrid22 #child12 {
    grid-column: 5/7;
    grid-row: 5/7;
}

/* Sub Grid 23 */

.SubGrid23 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: 1/4;
    grid-column: 105/110;
}

.SubGrid23 #child1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.SubGrid23 #child2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.SubGrid23 #child3 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.SubGrid23 #child4 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.SubGrid23 #child5 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.SubGrid23 #child6 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.SubGrid23 #child7 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.SubGrid23 #child8 {
    grid-column: 2/3;
    grid-row: 3/4;
}

.SubGrid23 #child9 {
    grid-column: 3/4;
    grid-row: 3/4;
}

.SubGrid23 #child10 {
    grid-column: 1/2;
    grid-row: 4/5;
}

/* Sub Grid 24 */

.SubGrid24 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: 1/4;
    grid-column: 110/115;
}

.SubGrid24 #child1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.SubGrid24 #child2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.SubGrid24 #child3 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.SubGrid24 #child4 {
    grid-column: 1/2;
    grid-row: 2/4;
}

.SubGrid24 #child5 {
    grid-column: 2/4;
    grid-row: 2/6;
}

.SubGrid24 #child6 {
    grid-column: 1/2;
    grid-row: 4/6;
}

.SubGrid24 #child7 {
    grid-column: 1/2;
    grid-row: 6/7;
}

.SubGrid24 #child8 {
    grid-column: 2/3;
    grid-row: 6/7;
}

.SubGrid24 #child9 {
    grid-column: 3/4;
    grid-row: 6/7;
}